@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  html{
    position: relative;
  }
  body{
    background-color: #22262F;
  }
  .avatar{
   width: 203px;
   height: 203px;
   border-radius: 50%;
   margin-bottom: -100px;
   border: 0px solid #3B3B3B;
 }
 .nav {
  overflow: hidden;
 }
  .nav a {
    float: left;
    color: #c9c9c9;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav a:hover {
    color:#f3f3f3;
    transition: 0.3s;
  }
  .nav a.active {
    color:#f3f3f3;
  }
  h1{
    font-size: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #f3f3f3;
    text-align: center;
    font-weight: 350;
    animation-name: fadeIn;
    animation-duration: 0.3s;
  }
  h2{
    font-size: 1.23em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #c9c9c9;
    font-weight: normal;
    line-height: 23px;
    animation-name: fadeIn;
    animation-duration: 0.3s;
  }
  h3 {
    margin-top: 133px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 2.33em;
    font-weight: bold;
    color: #f3f3f3;
    text-align: center;
  }
  h3 {
    animation: animatedText 1.3s steps(45, end) .5s 1 normal both;
  }
  @keyframes animatedText{
    from{
      width: 0;
    }
    to{
      width: 194px;
    }
  }
  .fa{
    padding: 7px;
    width: 39px;
    text-align: center;
    text-decoration: none;
    margin: 15px 3px;
  }
  .fa-envelope, .fa-linkedin, .fa-github, .fa-medium, .fa-twitter{
    color: #f3f3f3;
  }
  .fa-envelope:hover, .fa-linkedin:hover, .fa-github:hover, .fa-medium:hover, .fa-twitter:hover{
    color: #d1d1e6;
    transition: .13s;
    text-decoration: none;
  }
 .fa-envelope:focus, .fa-linkedin:focus, .fa-github:focus, .fa-medium:focus, .fa-twitter:focus{
    text-decoration: none;
    color: #d1d1e6;
  }
  p{
    font-size: 16px;
    color: #c9c9c9;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  }
  .intro{
    margin: auto;
    margin-top: 20px;
    padding-left: 13px;
    width: 53%;
    height: 386px;
    border-radius: 5px;
    background-color: #22262F;
    border-style: double;
    border-color: #22262F;
    padding-right: 13px;
    border-width: thick;
    animation-name: fadeIn;
    animation-duration: 0.3s;
  }
  .projects{
    padding-left: 13px;
  }
  .btn{
    background-color: #22262F;
    border-radius: 9px;
    border-color: #c9c9c9;
    width: 93px;
  }
  .btn:hover{
    color: #c9c9c9;
    transition: .13s;
  }
  .btn:active, .btn:focus, textarea{
    border-color: #c9c9c9 !important;
    outline: 0 !important;
    border-radius: 9px;
    color: #c9c9c9;
  }
  @media screen and (max-width: 1033px){
    .navbar-brand{
      font-size: 23px;
      padding-right: 50px;
    }
  }

  @media screen and (max-width: 952px){
    .navbar-brand{
    font-size: 23px;
    padding-left: 33px;
    }
    h1{
      font-size: 1.8em;
      font-weight: 423;
    }
    h2{
      font-size: 1.10em;
      line-height: 20px;
    }
    h3{
      font-size: 2.0em;
    }
    h4{
      font-size: 2.3em;
      font-weight: 423;
    }
    .avatar{
      width: 183px;
      height: 183px;
    }
    .intro{
      width: 89%;
      height: auto;
      margin-bottom: 80px;
    }
}